{% extends "gobar_page.html" %}

{% block subtitle %} - Ingresar{% endblock %}

{% block content %}
<style>
  body {
    height: auto;
  }
</style>
<div id="login-container" class="container-fluid">
  <div>
    <div id="login" class="col-xs-12 col-md-10 col-md-offset-1">
      {% if c.userobj %}
        <div id="title" class="container-fluid" style="height: 40em;align-items: center;display: flex;">
          <p style="font-size: 20px;">Ya te encuentras logueado como {{ c.userobj.name }}, primero debes cerrar sesión si lo que desea es ingresar con un nuevo usuario. </p>
        </div>
      {% else %}
          <div id="login-vertical-wrapper">
          {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
          </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}