{% set stats = h.get_site_statistics() %}

<div id="title" class="container-fluid" style="background-image:url(/img/bgbadata.jpg)">
    <div class="background-overlay">
        <div class="restricted-max-width">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div id="title-container" class="col-xs-12 col-md-6">
                    <h1>Datasets</h1>
                    <p class="description">Estos son datos públicos generados, guardados y publicados por el Gobierno de la Ciudad de Buenos Aires.</p>
                </div>
                <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
                    <div class="col-xs-12">
                        <p class="stat">{{ "%03d" % stats.dataset_count }}</p>
                        <p class="stats-legend datasets">CONJUNTOS DE DATOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

{% asset 'gobar_js/background_ie' %}
