{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = [
('Última modificación', 'metadata_modified desc'),
('Ascendente (A - Z)', 'title_string asc'),
('Descendente (Z - A)', 'title_string desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

<form {% if form_id %}id="{{ form_id }}" {% endif %} class="search-form container-fluid search-and-order" method="get"
    data-module="select-switch">
    <div class="form-group col-md-12" style="padding: 0;">
        <div class="form-group has-feedback">
            <input type="text" class="search form-control" name="q" value="{{ c.q }}" autocomplete="off"
                placeholder="¿Qué dataset buscas?" maxlength="200"
                style="border-radius: 2px !important;background: var(--grisulado-1-fondo-secundario) 0% 0% no-repeat padding-box;">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
</form>

{% asset 'gobar_js/search' %}