:root {

/* Colors: */
--detalle-cromatico-1: #F54789;
--detalle-cromatico-6: #F39C12;
--grisulado-5: #E6EBF0;
--verde-10: #F5FCF8;
--grisulado-90-texto-primario: #38485C;
--blanco-fondo-primario: #FFFFFF;
--celeste-50-texto-enlace: #007BC7;
--grisulado-30-texto-deshabilitado: #9EAAB8;
--grisulado-70-texto-secundario: #505E70;
--naranja-50-default-alarma-: #FFA82E;
--rojo-50-default-error-: #C93B3B;
--detalle-cromatico-3: #009AFD;
--detalle-cromatico-8: #18B596;
--detalle-cromatico-7: #88BF48;
--celeste-70-focus: #005387;
--verde-50-default-éxito-: #26874A;
--amarillo-50-hover-botón-primario-: #FDD306;
--amarillo-40-default-botón-primario-: #FFDB2E;
--detalle-cromatico-4: #038ED9;
--detalle-cromatico-2: #9A59B5;
--detalle-cromatico-5: #E74C3C;
--grisulado-1-fondo-secundario: #F3F6F9;

/* Font/text values */
--unnamed-font-family-nunito: Nunito;
--unnamed-font-family-open-sans: Open Sans;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-13: 13px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-19: 19px;
--unnamed-font-size-21: 21px;
--unnamed-font-size-22: 22px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-37: 37px;
--unnamed-font-size-51: 51px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing--0-07: -0.07px;
--unnamed-character-spacing--0-1: -0.1px;
--unnamed-character-spacing--0-02: -0.02px;
--unnamed-character-spacing-0-03: 0.03px;
--unnamed-line-spacing-16: 16px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-28: 28px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-56: 56px;
--unnamed-text-transform-uppercase: uppercase;
}

body, .label, .list-group, .list-group p, .list-group-item-text, .shortcut p, .alert-link p, .list-group blockquote p, .jumbotron p {
    

}
h1, .h1, h2, .h2, h3, .h3,h4, .h4, h5, .h5, h6, .h6 {
  font-family: var(--unnamed-font-family-nunito)!important;
}

.navbar {
	font-weight: var(--unnamed-font-weight-600) !important;
  	font-color: var(--grisulado-90-texto-primario);

}

span strong, thead > tr > th, .progress-bar {
    font-family: var(--unnamed-font-family-nunito)!important;
    font-weight: 700;
}

.navbar-primary .dropdown-menu > li > a:hover, .navbar-primary .dropdown-menu > li > a:focus, .navbar-primary .nav > li > a:focus, .navbar-primary .nav > li > a:hover, .navbar-primary .nav .open > a, .navbar-primary .nav .open > a:focus, .navbar-primary .nav .open > a:hover, .navbar-primary a.navbar-brand:focus, .navbar-primary a.navbar-brand:hover{
  background-color: #fff;
  font-weight: var(--unnamed-font-weight-bold);
  font-color: var(--grisulado-90-texto-primario);
}

body { 
  background: var(--blanco-fondo-primario) 0% 0% no-repeat padding-box;
  font-family: var(--unnamed-font-family-nunito);
  line-height: 24px;
  font-style: var(--unnamed-font-style-normal); 
}

label {
  font-family: var(--unnamed-font-family-nunito); 
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 392px;
    background-color: #fff; 
}

.navbar-top .navbar-brand {
    font-family: var(--unnamed-font-family-nunito);
    font-style: var(--unnamed-font-style-normal);
    font-size:var(--unnamed-font-size-21);
    font-color: var(--grisulado-90-texto-primario);

}

#header {
		height: 80px;
		box-shadow: 0px 3px 6px #00000029;
		opacity: 1;
     	z-index: 8000;
   		top: 0;
      position: fixed !important;
      width: 100% !important
	}
	#header #nombre-sitio a{
		text-decoration: none;
	}
	#header #nombre-sitio h1{
		float: left;
		color: #444444;
	}
.header-links > li > a{
    height: 40px;
    line-height: 26px;
    padding: 7px 14px;
    color: white;
	}
    
    #ba-logo {
        margin-top: 15px;
        margin-right: 10px;
        width: 110px;
    	  height: 60px;
        background-image:url(/img/ba_logo.png);
        background-repeat: no-repeat;    
    }
        
    /* Responsive Logo BA */
    @media screen and (max-width: 500px)  {
    #ba-logo {
       display: none;
    }

    }
        
    /* Alineación logos y links */     
    .navbar {
            border-bottom: 0px;
     }
        
    .navbar-header {
            padding-top: 15px;
     } 
        
  
        
    /* Responsive navbar.collapse */

    @media (max-width: 990px) {
    .back {
        margin-right: -30px;
        margin-left: -30px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        background-color: #fff;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-19)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-nunito);
    letter-spacing: var(--unnamed-character-spacing--0-02);
    color: var(--grisulado-90-texto-primario);
    text-align: left;
    font: normal normal 600 19px/28px Nunito;
    letter-spacing: -0.02px;
    color: #38485C;
    opacity: 1;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
        }
    }
        
    /* Border navbar-collapse */    
   .navbar-default .navbar-collapse {
          border-bottom: 0px;  
    }
      
         
    .navbar {
            border-bottom: 0px;
     }
        
    
    
 @media (max-width: 990px) {
    header a img,
    header a.btn {
        display: none;
    }
    nav {
        background-color: #fff;
        width: 100%;
        left:0;
        padding-left: 20px;
        
    }
   
   .navbar-primary .dropdown-menu > li > a:hover, .navbar-primary .dropdown-menu > li > a:focus, .navbar-primary .nav > li > a:focus, .navbar-primary .nav > li > a:hover, .navbar-primary .nav .open > a, .navbar-primary .nav .open > a:focus, .navbar-primary .nav .open > a:hover, .navbar-primary a.navbar-brand:focus, .navbar-primary a.navbar-brand:hover{
    background-color: var(--grisulado-90-texto-primario);
    font-weight: var(--unnamed-font-weight-600);
  	font-color: var(--grisulado-90-texto-primario);
   }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        background-color: #fff;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
        }
    
    #main-nav {
        z-index: 4999;
    }
    
}
@media (max-width: 480px) {
    nav {
        background-color: #fff;
        width: 100%;
        left:0;
        padding-left: 20px;
    }
    nav ul {
        max-height: 450px;
        overflow: scroll!important;
    }
}
        
    /* Border navbar-collapse */    
   .navbar-default .navbar-collapse {
          border-bottom: 0px;  
    } 

/* Character Styles */
.subtitulo-1-open-sans-regular-—-22-px {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing--0-02);
  color: var(--unnamed-color-38485c);
}
.h4-nunito-semibold-—-21-px {
  font-family: var(--unnamed-font-family-nunito);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-21);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing--0-02);
  color: var(--unnamed-color-38485c);
}
.h3-nunito-regular-—-24-px {
  font-family: var(--unnamed-font-family-nunito);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing--0-02);
  color: var(--unnamed-color-38485c);
}
.body-1-open-sans-regular-—-16-px {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-38485c);
}
.h2-nunito-bold-—-37-px {
  font-family: var(--unnamed-font-family-nunito);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-37);
  line-height: var(--unnamed-line-spacing-44);
  letter-spacing: var(--unnamed-character-spacing--0-07);
  color: var(--unnamed-color-38485c);
}
.overline-open-sans-regular-—-13-px {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-16);
  letter-spacing: var(--unnamed-character-spacing-0-03);
  color: var(--unnamed-color-38485c);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.h1-nunito-bold-—-51-px {
  font-family: var(--unnamed-font-family-nunito);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-51);
  line-height: var(--unnamed-line-spacing-56);
  letter-spacing: var(--unnamed-character-spacing--0-1);
  color: var(--unnamed-color-38485c);
}
.subtitulo-2-open-sans-regular-—-19-px {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-19);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing--0-02);
  color: var(--unnamed-color-38485c);
}
.nav > li > a {
    padding: 10px 10px;
}

.rectangulo{
  top: 242px;
  left: 0px;
  width: 100%;
  height: 392px;
  background: #fff;
  opacity: 1;
}

        .h1 footer-row {
            color: #fff;
        }
        a, a:hover  {
            
            text-decoration: none!important;
        }

        .footer-row {
            margin-bottom: 20px;
        }

        /* Logos */
        .container-ba {            
        }

        /* contenedor links */
        .footer-nav{
            margin-top: 70px;
            margin: 10px;


        }

        /* contenedor redes */
        .container-redes {
            width: 250px;
            margin: 0 auto;
        }

       /* contenedor ciudad */
        .container-ciudad {
            align-content: center;
            border-top: solid 1px #666;
            margin-top: 50px;
        }

		.container-swagger-ba {
            margin-top: -292px;
        }
        /* logo ciudad */
        .logo_footer {
            margin-top: 10px;
            width: auto;
         	height: 41px;
        }
        .logo_footer_ciudad{
            margin: 10px auto;
          	max-width: none !important;
    		width: 230px;
        }


        /* estilo listado de links */
        .primera_columna {
            padding-left: 0px;
        }

        .footer-nav ul {
            padding-left: 0px;
        }

        .footer-nav ul li {
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
        }

        .footer-nav ul li a {
              color: #ccc;
              font-family: "Nunito", Helvetica, Arial, sans-serif;
              text-decoration: none;
              font-size: bold;
              line-height: 3em;

            }

        #ba-footer {
          padding: 60px 0;
          background: #333;
          border-top: 3px #FCDA59 solid;
        }


        /* contenedor teléfonos */
        .container-telefonos {
            border-top: solid 1px #666;
            margin-top: 100px;
            margin-bottom: 25px;

        }


        /* alinear glyphicon y h3 */
         .shortcut span,
        #ba-footer .shortcut span {
          color: #aaa;
          text-align: left;
          margin: 0;
          width: inherit;
          height: inherit;
          border-radius: 0;
          display: inline;
          margin: 10px;
          font-size: 30px !important;
          position: relative;
          -ms-behavior: url(../css/pie.htc);
        }

        #ba-footer .shortcut span {
          position: relative;
          top: 5px;
        }



         /* social */

        .mini-social a {
          width: 40px;
          height: 23px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -9999px;
        }
        .social-fb {
          background-image: url(/img/social/facebook_0.png);
          background-image: url(/img/social/facebook_0.png), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-tw {
          background-image: url(/img/social/twitter_6.png);
          background-image: url(/img/social/twitter_6.png), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-gp {
          background-image: url(/img/social/social-gp.png);
          background-image: url(/img/social/social-gp.svg), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-yt {
          background-image: url(/img/social/youtube_0.png);
          background-image: url(/img/social/youtube_0.png), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-fl {
          background-image: url(/img/social/social-fl.png);
          background-image: url(/img/social/social-fl.svg), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-rss {
          background-image: url(/img/social/rrss.png);
          background-image: url(/img/social/rrss.png), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-cc {
          background-image: url(/img/social/social-cc.png);
          background-image: url(/img/social/social-cc.svg), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
          margin-top: 8px;
        }

        .social-in {
          background-image: url(/img/social/instagram_0.png);
          background-image: url(/img/social/instagram_0.png), none;
          background-size: cover;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .social-fav {
          float: right !important;
          margin-right: 0 !important;
          font-size: 40px;
        }
        .social-fav a {
          color: #ccc;
          text-indent: 0;
        }
        .social-fav a.active,
        .social-fav a.corazonLleno {
          color: #d13f34;
        }
        .ba-social {
          display: table;
          /*margin: 0 auto;*/
          padding: 16px 0;
        }
        .ba-social ul {
          padding: 0;
        }
        .ba-social li {
          list-style: none;
          float: left;
          margin: 0 15px 16px 0;
        }
        .ba-social li:last-child {
          margin-right: 0;
        }
        .ba-social a {
          width: 60px;
          height: 60px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          -ms-behavior: url(../css/backgroundsize.min.htc);
        }
        .ba-medios a{
          width: 90px;
          height: 90px;
        }
        .footer-row .mini-social {
          width: auto;
        }
        @media (max-width:767px) {
          .footer-row .mini-social {
            width: auto;
            float: none;

          }
        }
        .mini-social {
          padding: 0;
          margin: 0;
          overflow: auto;
        }
        .mini-social li {
          list-style: none;
          float: left;
          margin-right: 10px;
          height: 40px;
          overflow: hidden;
        }
        .mini-social a:hover,
        .mini-social a:focus,
        .ba-social a:hover,
        .ba-social a:focus {
          opacity: 0.8;
        }
        .mini-social a:active,
        .ba-social a:active {
          opacity: 1;
        }

        @media (max-width: 560px) {
          .ba-social a {
            width: 60px;
            height: 60px;
          }
        }

        .footer-shortcuts {
          border-top: solid 1px #222;
          padding-top: 48px;
          padding-bottom: 48px;
        }

                /* shortcuts */
        .row-shortcut {
          margin: 30px 0 0 0;
        }

        .shortcut {
          text-align: center;
          text-decoration: none;
          padding-top: 24px;
          padding-bottom: 12px;
          color: #333;
          border-radius: 6px;
          position: relative;
          -ms-behavior: url(../css/pie.htc);
          display: block;
          background-color: transparent;
        }

        .shortcut:hover,
        .shortcut:focus {
          background: #555555;
          text-decoration: none;
        }

        .shortcut:hover p,
        .shortcut:focus p {
          color: #e5e5e5;
        }


        .shortcut:active {
          background-color: #f1f1f1;
          text-decoration: none;
        }

        .bg-white-1 .shortcut:hover,
        .bg-white-1 .shortcut:focus {
          background: #e9e9e9;
        }

        .bg-white-1 .shortcut:active {
          background-color: #ccc;
        }

        .shortcut span {
          color: #fff;
          text-align: center;
          margin: 0 auto 24px auto;
          width: 30px;
          height: 30px;
          border-radius: 56px;
          position: relative;
          -ms-behavior: url(../css/pie.htc);
          display: block;
        }

        .shortcut span.glyphicon {
          padding-top: 0px;
          font-size: 30px;
          top: 0px;
        }

        .shortcut p {
          color: #888;
        }

        .shortcut h3 {
          color: #fff;
          font-size: 32px;
          margin-bottom: 12px;
        }

        /* shortcut list + tramites + emergencias */

        .shortcut-list {
          text-align: left;
          overflow: auto;
          padding-top: 0;
          float: left;
        }
        
        .shortcut-list:last-of-type {
          background-image: none;
        }
        .shortcut-list span {
          float: left;
          margin-right: 30px;
          width: 80px;
          height: 80px;
          margin-bottom: 8px;
        }
        .shortcut-list span.h1 {
        padding-top: 18px;
        }
        .shortcut-list h3 {
          margin-top: 16px;
        }
        .shortcut-list p {
          margin-bottom: 0;
          color: #333;
          font-size: 16px;
          line-height: 24px;
        }
        .shortcut-list-step {
          float: left;
          width: 100px;
        }
        .lt-ie9 .shortcut-list-step {
          width: 98px;
        }
        .shortcut-list-info {
          float: left;
          margin-bottom: 16px;
        }

        .chosen-container {
         padding: 0px;
         width: 100% !important;
         border: 0px;
         box-shadow: none !important;
        }

        @media (max-width: 991px) {
          .shortcut-list,
          .shortcut-list:hover,
          .shortcut-list:focus,
          .shortcut-list:active {
            background-image: none;
          }
          .shortcut-list-info {
            width: 100%;
          }
        }

		@media (min-width: 768px){
          .navbar-nav > li > a {    
         	  font-size: 19px;
    		  padding-top: 25px;
              height: 80px;
          }
		}
		
        @media (min-width: 992px) {
          .shortcut-list-info {
            width: 445px;
          }
        }
        @media (min-width:1200px) {
          .shortcut-list-info {
            width: 580px;
          }
        }

        .ba-emergencia .main-container > .container {
          padding-left: 30px;
          padding-right: 30px;
        }
        .ba-emergencia table {
          text-align: left;
        }

        /* shortcut normal */
        .row-shortcut {
          margin: 16px 0px;
        }
        @media (max-width: 767px) {
          .ba-home .main-container .shortcut p,
          .ba-home .shortcut-tramite {
            display: none;
          }
          .openid-connect-login-btn-top-bar {
              padding-left: 32px;
              margin-bottom: -10px;
            }
            .navbar-top.navbar-primary{
              padding-bottom: 0px;
            }
        }


        @media (max-width:991px) {
          .row-shortcut .col-sm-6:nth-of-type(2n+1) {
            clear: left;
          }

          .footer-nav {
                text-align: left;
            }
         .primera_columna {
            padding-left: 15px;
        }

         .container-redes {
            margin-top: 30px;
        }
        }
        
        @media (max-width: 468px) {
        .footer-nav {
            text-align: center;
            }
        }

    

